body {
  font-family: "Montserrat";
  text-align: center;
  background-color: #E6E5A3;
}


.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 50%;
  margin: 20px;
}
.testimonial-image-w {
  width: 25%;
  margin: 20px;
}

